@model IEnumerable<PostViewModel>


@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color: #E4E4D8;
    }
    .card{
        border: 3px double #A19887
    }
    .card-title{
        padding-top:10px;
    }
    .author{
        margin:0px;
        padding-right:10px;
    }
    .reg{
        background-color: #E4AF9D;
        color: white;
    }
</style>


<div class="row row-cols-1 row-cols-md-2 g-4">

    @foreach (var post in Model)
    {
             
        <div class="col" >
            <div class="card">

                <div class="card-title">

                    <h5 class="text-center text-wrap">@post.TitlePost</h5>
                </div>
                <div>
                    <p class="author fst-italic text-end">@post.AuthorPost</p>
                </div>
                <footer class="text-center">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" class="btn reg m-2">Читать далее</a>

                    </footer>
            </div>
        </div>
    }

   
</div>


