@model AddCommentViewModel

<style>
    body {
        background-color: #E4E4D8;
    }

    .reg {
        background-color: #E4AF9D;
        color: white;
        margin-top:20px;
    }

   
</style>



<form asp-controller="Post" asp-action="AddComment" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden readonly />
    <input asp-for="UserName" value="@User.Identity.Name" type="hidden" />
    <div class="form-group">
        <label asp-for="TextComment"></label>
        <textarea asp-for="TextComment" class="form-control"></textarea>
        <span asp-validation-for="TextComment" class="text-danger"></span>
        
    </div>
    <div class="form-group  d-grid">
        <input type="submit" value="Опубликовать" class="btn reg" />
    </div>
   
</form>

<a asp-controller="Post" asp-action="index" class="btn reg d-grid" asp-route-id="@Model.Id">Назад</a>